@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex-box{
    display: flex;
    width: 1500px;
    margin: 170px 250px;
}
.left{
    width: 40%;
}
.product-container{
    background: rgba(237, 234, 234, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #ff008c;
    width: 300px;
    padding:30px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.product-container:hover{
    box-shadow:0 4px 30px rgb(240, 2, 212);
    cursor: pointer;
}
.big-img{
    width: 250px;
   }
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.small-img{
    width: 80px;
    overflow: hidden;
    margin-left: 20px;
    border: 1.5px solid black;
}
.small-img:hover{

    box-shadow: 0 2px 20px rgb(195, 69, 186);
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
.url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.right{
    margin-top: 20px;
}
.ratings i{
    color: rgb(255, 136, 0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff008c;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}
.psize.active{
    border-width: 1.5px;
    color: #ff008c;
    font-weight: 500;
}
.quantity{
    display: flex;
}
.quantity p{
    font-size: 18px;
    font-weight: 500;
}
.quantity input{
    width: 40px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}
.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}
.cart-btn{
    background-color: #ff008c;
    margin-right: 20px;
}
.buy-btn{
    background-color: #00aeff;
}
.cart-btn:hover{
    background-color: #df0287;
}
.buy-btn:hover{
    background-color: #0066ff;
}



